
/* Typography */
body, ul, li, p, a, label, input, div {
    font-family: 'Roboto', sans-serif;
    font-size: 18px !important;
    font-weight: 300 !important;
  }
  .h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 48px !important;
    font-weight: 200 !important;
  }
  .h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px !important;
    font-weight: 300;
  }
  .h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 22px !important;
  }
  /* General */
  .logo { font-weight: 500 !important;}
  .text-warning {  color: #ede861 !important;}
  .text-muted { color: #bcbcbc !important;}
  .text-success { color: #59ab6e !important;}
  .text-light { color: #cfd6e1 !important;}
  .bg-dark { background-color: #212934 !important;}
  .bg-light { background-color: #e9eef5 !important;}
  .bg-black { background-color: #1d242d !important;}
  .bg-success { background-color: #59ab6e !important;}
  .btn-success {
    background-color: #59ab6e !important;
    border-color: #56ae6c !important;
  }
  .pagination .page-link:hover, .pagination .page-link.active {
    background-color: #69bb7e;
    color: #fff !important;
  }
  .page-item.active .page-link{
    color: #fff !important;
    background-color: #69bb7e !important;
    border-color: #69bb7e !important;
  }
  .page-link{
    color: #69bb7e !important;
  }
  /* Nav */
  #templatemo_nav_top { min-height: 40px;}
  #templatemo_nav_top * { font-size: .9em !important;}
  #templatemo_main_nav a { color: #212934;}
  #templatemo_main_nav a:hover { color: #69bb7e;}
  #templatemo_main_nav .navbar .nav-icon { margin-right: 20px;}

/* --------------nav bar----------------- */
.card-heading{
    background: url("./images/agrikit.png") top left/cover no-repeat;
    height: 4em;
    background-size: contain;
    width: 4%;
}

/* --------------end nav bar----------------- */

/* Brand */
.brand-img {
    filter: grayscale(100%);
    opacity: 0.5;
    transition: .5s;
  }
  .brand-img:hover {
    filter: grayscale(0%);
    opacity: 1;
  }

/* Hero Carousel */
#template-mo-zay-hero-carousel { background: #efefef !important;
    /* padding-top: 3rem!important;
    padding-bottom: 3rem!important; */
}

#template-mo-zay-hero-carousel .carousel-indicators li {
    margin-top: -50px;
    background-color: #59ab6e;
  }
  #template-mo-zay-hero-carousel .carousel-control-next i,
  #template-mo-zay-hero-carousel .carousel-control-prev i {
    color: #59ab6e !important;
    font-size: 2.8em !important;
  }
  /* Carousel Brand */
  .tempaltemo-carousel .h1 {
    font-size: .5em !important;
    color: #000 !important;
  }

  /* Accordion */
.templatemo-accordion a { color: #000;}
.templatemo-accordion a:hover { color: #333d4a;}
/* Shop */
.shop-top-menu a:hover { color: #69bb7e !important;}
.categorie-shop{
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #fff !important;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  padding: .375rem 1.75rem;

}
.categorie-shop:after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #59ab6e;
  border-radius: 10rem;
  z-index: -2;
}
.categorie-shop:before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #19875b;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.categorie-shop:hover {
  color: #fff;
}
.categorie-shop:hover:before {
  width: 100%;
}
/* Product */
.product-wap { box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.10);}
.product-wap .product-color-dot.color-dot-red { background:#f71515;}
.product-wap .product-color-dot.color-dot-blue { background:#6db4fe;}
.product-wap .product-color-dot.color-dot-black { background:#000000;}
.product-wap .product-color-dot.color-dot-light { background:#e0e0e0;}
.product-wap .product-color-dot.color-dot-green { background:#0bff7e;}
.card.product-wap .card .product-overlay {
  background: rgba(0,0,0,.2);
  visibility: hidden;
  opacity: 0;
  transition: .5s;
  transition-property: opacity;
}
.card.product-wap:hover .card .product-overlay {
  border-radius: 25px 25px 60% 0% !important;
  visibility: visible;
  opacity: 1;
}

.card-body p.text-center{
  background-color: #198754;
  color: white;
}

.card.product-wap a { color: #000;}
#carousel-related-product .slick-slide:focus { outline: none !important;}
#carousel-related-product .slick-dots li button:before {
  font-size: 15px;
  margin-top: 20px;
}

/*single product*/
.card-body{
  background-color: #f8f9fa !important;
}
.card {
  border: none !important;
}
.price-single-product{
  color: #59ab6e !important;
    font-size: 26px !important;
    font-weight: bold !important;
}
.descriptio-sisgle-product{
  background-color: #59ab6e;
  width: fit-content;
  padding: 10px 20px;
  color: white;
  margin-bottom: -1em;
}
.span-categorie-single-product{
  color: #00bd31;
}
.hr-sigle-product{
  width: 40%;
    margin: auto;
    color: #009b32;
}
.h1-center{
  width: fit-content;
    margin: auto;
}
.add-to-cart-sigle-product{
  width: 50px;
    height: 50px;
    padding:5px !important;
    overflow:hidden;
    -webkit-transition:all 0.2s ease-in !important;
    -moz-transition:all 0.2s ease-in !important;
    -ms-transition:all 0.2s ease-in !important;
    -o-transition:all 0.2s ease-in !important;
    transition:all 0.2s ease-in !important;
    border-radius: 50px !important;
    border: 1px solid transparent;
}
.add-to-cart-sigle-product:hover{
  width:200px !important;
    height:50px !important;
    border-radius:40px !important;
    background-color:#97bf0d !important;
    border: 1px solid #97bf0d !important;
}
.text-add-to-cart{
  width:70%;
    padding-right: 10px;
    float:right;
    line-height:40px;
    color:#ffffff;
    font-family:'Roboto';
    font-weight:300;
    font-size:18px;
}
  /* Footer */
#tempaltemo_footer a { color: #dcdde1;}
#tempaltemo_footer a:hover { color: #68bb7d;}
#tempaltemo_footer ul.footer-link-list li { padding-top: 10px;}
#tempaltemo_footer ul.footer-icons li {
  width: 2.6em;
  height: 2.6em;
  line-height: 2.6em;
}
#tempaltemo_footer ul.footer-icons li:hover {
  background-color: #cfd6e1;
  transition: .5s;
}
#tempaltemo_footer ul.footer-icons li:hover i {
  color: #212934;
  transition: .5s;
}
#tempaltemo_footer .border-light { border-color: #2d343f !important;}
/*
// No media query since this is the default in Bootstrap
*/
.product-wap .h3, .product-wap li, .product-wap i, .product-wap p {
  font-size: 12px !important;
}
.product-wap .product-color-dot {
  width: 6px;
  height: 6px;
}






/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    #templatemo_main_nav .navbar-nav {max-width: 450px;}
   }
  
  /* Large devices (desktops, 992px and up)*/
  @media (min-width: 992px) {
    #templatemo_main_nav .navbar-nav {max-width: 550px;}
    #template-mo-zay-hero-carousel .carousel-item {min-height: 30rem !important;}
    .product-wap .h3, .product-wap li, .product-wap i, .product-wap p {font-size: 18px !important;}
    .product-wap .product-color-dot {
      width: 12px;
      height: 12px;
    }
  }
  
  /* Extra large devices (large desktops, 1200px and up)*/
  @media (min-width: 1200px) {}